@page "/embedvideo"
@page "/embedvideo/{videoId}"
@using HoloDex_UI.Data

<PageTitle>Video Player</PageTitle>

@if (videoId != null)
{
    <div class="embedPlayer">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/@videoId?autoplay=0?playsinline=1"
           title="Youtube video player" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>
}
else
{
    <div>Something went wrong, no video found.</div>
}

@code {
    [Parameter]
    public string? videoId { get; set; }

}
